.book-form {
    height: 400px;
    width: 200px;
    background-color: gainsboro;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
}

.book-form .idParinte {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-form .titlu {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-form .gen {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-form .url {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.candidate-form .add {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}